[2014-08-01 23:56] smecsia opened #1 "Codebase should be migrated to the allure-ruby-api"
Hi @9ikhan ! I've just pushed the allure-ruby-api gem to rubygems. Please check it out. It is intended to use this gem for any ruby-based Allure adaptor.
You can find the sources here https://github.com/allure-framework/allure-ruby-api
It would be great if you could get the allure-cucumber into shape.
Please ask me any questions concerning the ruby Allure projects.
Kind regards.

[2014-08-05 11:53] #1 closed, assigned to nobody

[2014-08-15 14:04] smecsia opened #2 "Transfer repository to the allure team"
Hi @9ikhan! If you don't mind, we kindly ask you to transfer the ownership of your repository to the [Allure](http://github.com/allure-framework) organization. We have added you to the Ruby team.

[2014-08-16 12:47] #2 closed, assigned to nobody

[2014-08-17 18:21] vania-pooh opened #3 "Need to update license to Apache 2.0"
@9ikhan : please update license to Apache 2.0 like in **allure-core**. You should certainly leave your name in copyright notice (not Yandex). Also please rename file to LICENSE (without txt extension).

[2014-08-17 18:23] vania-pooh opened #4 "Update default output path to **/allure-results"
By default all our generation tools are searching for XML using the following Ant glob: **/allure-results. Please update adapter code so its output directory corresponds to this glob, e.g.: output/allure-results or cucumber/allure-results or stuff like that.

[2014-08-20 04:22] alexiel15 opened #5 "Error creating formatter: AllureCucumber::Formatter (LoadError)"
Hello!
After installing allure-cucumber (added to Gemfile and executed bundle) and running my tests with
bundle exec cucumber -t @pokemon  --format AllureCucumber::Formatter
I'm getting an error:

cannot load such file -- allure_cucumber/formatter
Error creating formatter: AllureCucumber::Formatter (LoadError)
/home/bakka/.rvm/gems/ruby-2.0.0-p481/gems/cucumber-1.3.16/lib/cucumber/constantize.rb:1

[2014-08-20 10:39] #5 closed, assigned to nobody

[2014-08-21 07:35] #3 closed, assigned to nobody

[2014-08-21 07:35] #4 closed, assigned to nobody

[2014-08-27 06:54] 9ikhan opened #7 "Release latest gem"
Hi @smecsia

[Gem 0.4.0](http://rubygems.org/gems/allure-cucumber)  doesn't contain the latest changes from master branch.

Is there a any roadmap to release the new version?

Thanks
Imran

[2014-09-11 02:51] alexiel15 opened #9 "Report generated only for scenarios from the latest executed feature"
Good day!

I have several Cucumber features. Some of the scenarios in different features contain the same tag. I run all the scenarios with a certain tag.
I execute the tests using the command:
bundle exec cucumber -r features -t @my_tag -f AllureCucumber::Formatter
The problem is:
After test execution is finished, I go to allure/data. There is only one generated xml report, which contains only sc

[2014-09-12 13:29] Sashikus opened #11 "Cucumber adaptor: empty report is generated from xml"
[code]

[2014-09-12 18:07] #7 closed, assigned to nobody

[2014-09-12 18:07] #9 closed, assigned to nobody

[2014-09-16 09:27] #11 closed, assigned to nobody

[2014-09-19 04:32] alexiel15 opened #12 "Zero duration of individual scenarios"
Hello! :)

In my test reports in Jenkins I'm always getting zero duration of individual scenarios.
Feature durations are correct.
Could you check what could be the issue please?
Thanks in advance!

[2014-09-19 12:08] #12 closed, assigned to nobody

[2014-09-24 09:27] alexiel15 opened #15 ""After scenario" hook is executed before test case from scenario outline is finished"
Hi again! :)

I've encountered some problems with scenario outlines!

I want to get the time of test-case stop from the "After scenario" hook.
I found out that I'm not able to do that in scenario outlines because the steps stop only after the hook is executed!
For example, I have:

[code]

Then, in my After scenario hook I print something. And when I run the tests, this is what I see:
[code]
I thi

[2014-09-24 10:07] alexiel15 opened #16 "Error in skipped step"
One more question!
When a scenario fails somewhere in the middle, the following steps are skipped.
But I always get an error:

[code]

[2014-10-24 04:20] katalityB opened #17 "scenario title at AllureRubyAdaptorApi::Builder.suites"
After do |scenario|
  printf AllureRubyAdaptorApi::Builder.suites.inspect
  printf scenario.feature.name.to_s.inspect
end

printf AllureRubyAdaptorApi::Builder.suites.inspect
=>
...
:tests=>{
"Коммерс с услугой может отправить отклик на резюме,"=>{:title=>"Коммерс с услугой может отправить отклик на резюме,"
...

printf scenario.feature.name.to_s.inspect
=>
"Коммерс с услугой может отправить откли

[2014-10-31 13:25] #17 closed, assigned to nobody

[2015-02-17 16:13] pritpalm commented on #16
Looks like I'm facing the same issue. Here is my setup information -

Allure CLI version - 2.3
allure-cucumber (0.4.4)
allure-ruby-adaptor-api (0.6.6)

When I run the test, I see following errors on command line. Though the xml is generated, when I try creating report from the xml from CLI tool I get NullPointerException. I spent whole day figuring out issue, but failed. Please help with this issu

[2015-02-18 11:47] 9ikhan commented on #16
@pritpalm  As I am on vacation I will only be able look into it next week.  Meanwhile, for quick debugging please share the stack trace of the exception and the generated xml.

[2015-02-20 15:47] pritpalm commented on #16
Thanks 9ikhan. I'm glad to see your prompt response to my query. I love allure reports and want use it my project. But running into initial hurdles. I also wanted to know from you can it be used hudson also?

Here is xml - I dont know how to get stacktrace with ruby/cucumber. I used option -b from command line...but that didn't give me anything. If you can help me to get stacktrace, i'll do it imm

[2015-02-20 15:59] pritpalm commented on #16
Thanks 9ikhan. I'm glad to see your prompt response to my query. I love allure reports and want use it my project. But running into initial hurdles. I also wanted to know from you can it be used hudson also?

I've attached xml as pic, as it would not allow me to paste xml here
![xml](https://cloud.githubusercontent.com/assets/11047015/6289621/6d4f08c0-b8ef-11e4-9d2b-4dd44204fd93.png)

- I dont kno

[2015-02-20 16:47] vania-pooh commented on #16
@pritpalm is this https://github.com/allure-framework/allure-jenkins-plugin what you're searching for?

[2015-02-20 20:44] pritpalm commented on #16
I was looking for allure plugin for specifically for hudson

[2015-02-23 14:43] pritpalm commented on #16
Hello 9ikhan, can you help me with the error?

[2015-02-23 14:52] 9ikhan commented on #16
I just came back today. I am looking into it. Will keep you posted.

[2015-02-24 09:02] 9ikhan commented on #16
Hi @pritpalm

`Element 'step', attribute 'status': 'skipped' is not a valid value of the atomic
 type '{urn:model.allure.qatools.yandex.ru}status'.` This can be ignored for now. I'm rewriting the formatter and this will get fixed with it.  You would have seen it after xmls have been written. From the screenshot your xml looks to be valid.

The `NullPointerException` is thrown by Allure CLI and is

[2015-02-24 14:44] pritpalm commented on #16
Hello @9ikhan

Thanks for helping me out.

To generate allure report, i first navigate to the bin and execute following command -

allure --debug generate C:\05Projects\reports

C:\05Projects\reports is the folder where xml is.

Here is the debug information -

Generating report for Allure version [1.3.9]
Processing result pattern [C:\05Projects\cos_rewards\features\reports]
Found results director

[2015-02-24 17:33] smecsia commented on #16
@pritpalm It seems like internet connection problem. Are you using proxy or any advanced internet security options?

[2015-02-24 18:33] pritpalm commented on #16
I had a proxy setting that i removed, open another instance of command prompt, still seeing the same error. Just to double sure, i rebooted and tried generating the report again, still getting same nulPointer Exception

[2015-02-25 00:44] pritpalm commented on #16
@smecsia @9ikhan

You are right, i was not able to generate this report from office, because i'm behind the firewall. But is there a way to make it work behind firewall? When I generated this report from home, it worked. But when I open the report (index.html), its says report is broken, i see following error -

Your report seems to be broken! Check out our FAQ to find a reason
Message: Failed to

[2015-02-25 06:19] 9ikhan commented on #16
Open the report in firefox.

For details read this: http://stackoverflow.com/questions/23997449/allure-report-nothing-shown-in-chrome

[2015-03-14 10:38] vase4kin opened #20 "Support for issue attachments"
Hello guys, would you kindly help me is there any work to provide support for attaching [issues](https://github.com/allure-framework/allure-core/wiki/Issues)?
Thanks!

[2015-03-15 09:56] 9ikhan commented on #20
I'll explore this and keep you posted.

[2015-03-26 16:22] vase4kin opened #21 "Report version 1.4.0 support"
Hello, guys!
Does cucumber adapter support report version 1.4.0?
I faced the problem with skipped tests. They don't appear in report on this version.

On the overview screen there is some white space instead of skipped tests results.
![image](https://cloud.githubusercontent.com/assets/4580186/6850763/a3236f48-d40d-11e4-8ff8-c97b0080d46c.png)

Thanks for help!

[2015-03-27 10:22] vania-pooh commented on #21
@vase4kin I would say this adapter was implemented uniquely for 1.4.x series. But let's wait for @9ikhan to give some comments.

[2015-03-27 14:21] 9ikhan commented on #21
Sorry guys, I have been very busy recently and have not been able to look into the issues. Give me some time to replicate the issue then I'll get back on this.

[2015-03-28 03:39] vase4kin opened #22 "Changes in cucumber api cause exception when executing tests with formatter"
Hello guys!
Just update dependencies to latest version and you will get the exception:
[code]

[2015-03-28 07:59] 9ikhan commented on #22
Thanks @vase4kin  I see the problem. I'll work also on the tests.

@smecsia @vania-pooh - Need your suggestion. Should we just support cucumber 2.0.0 onwards (There are lot of API changes) or should the adapter be backward compatible?

[2015-03-28 11:20] vania-pooh commented on #22
@9ikhan I would opt for releasing a new major version when Cucumber version gets increased.

[2015-03-28 22:56] smecsia commented on #22
I agree with Ivan. May be it is worth to create the new branch for the newer version of Cucumber.

[2015-03-31 16:15] izhilenkov commented on #20
any news? can you tell when you'll fix it? i need to attach screenshots so much :(

[2015-04-01 06:12] 9ikhan commented on #20
@izhilenkov - even now you can attach screenshots. It's just that integration with issue-tracker is missing.

I'm currently working on `allure-cucumber` for `cucumber 2.0.0` which requires lot of refactoring. I'll plan to finish this refactoring this weekend and then I'll work on this issue.

[2015-04-01 07:58] izhilenkov commented on #20
Oh, I'm so sorry for that.
But... Can you explain me what I do wrong?
I use:
ruby 1.9.3
cucumber 1.3.18
allure-cucumber 0.4.4
[code]
And while tests running, after each test I can see in log
[code]
But when I open result xml, I can't find any attachments :(
[code]

[2015-04-01 12:59] 9ikhan commented on #20
Second argument to `attach_file` must be a file, not filepath.

Can you try this?

[code]

[2015-04-01 15:36] izhilenkov commented on #20
@9ikhan oh, God... That is my bad... Thank a lot for so fast answer. My problem is solved. Of course a "file" as a file, not filepath...

[2015-04-04 06:59] 9ikhan opened #23 "Add Specs"
I have been thinking about adding specs or taking a TDD approach for the refactoring. But this adaptor is more of a middleware which gets hooks from cucumber processes them and sends requests to `ruby-adaptor-api`. The processing is minimal. What could be the best strategy to write unit tests or specs here? Any examples or links would be much appreciated.

[2015-04-07 21:09] farooqyousuf commented on #20
Thanks so much for this question and answer, I've been looking the whole day for this!!!

[2015-04-29 10:14] vase4kin commented on #21
Closed. Not reproduced on latest version.

[2015-04-29 10:14] #21 closed

[2015-05-19 08:39] atykhonov commented on #22
Hi,

is there any chance to have a fix for cucumber 2.0.0?

[2015-05-19 11:48] 9ikhan commented on #22
Sorry for the delay. I have been with very busy with work lately. I will push the changes in a separate branch for `normal scenarios` and keep working on `scenario outlines`(as major refactoring is required for this).

[2015-05-20 09:35] atykhonov commented on #22
@9ikhan thank you!

[2015-06-22 22:40] kirillzh opened #24 "Replace 'puts' with logger, so user would be able to turn logging off"

[2015-06-22 22:42] kirillzh commented on #24
Sorry, wrong project :)
https://github.com/allure-framework/allure-ruby-adaptor-api/issues/6

[2015-06-22 22:42] #24 closed

[2015-06-24 09:27] vgrigoruk opened #25 "Option to disable output into $stdout in AllureRubyAdaptor::Builder"
Need a way to make output less verbose when using AllureCucumber::Formatter.

E.g. this puts statement could check a config option as a condition to be executed:
[code]

[2015-06-24 09:40] smecsia commented on #25
@vgrigoruk thanks. This is duplicate of https://github.com/allure-framework/allure-ruby-adaptor-api/issues/6

[2015-06-24 09:40] #25 closed

[2015-06-30 17:57] farooqyousuf opened #26 "Any current way or future plans to support running Cukes with the parallel_tests gem?"

[2015-07-01 09:36] smecsia commented on #26
@farooqyousuf Have you tried just to run your features like so?
[code]

[2015-07-01 16:29] farooqyousuf commented on #26
@smecsia Thanks, that worked. I wasn't sure how Allure would generate reports with parallel_gems since parallel_gems executes different instances, but for each instance it's just giving a separate xml file it seems. Thanks again, really appreciate your help!

[2015-07-01 16:29] #26 closed

[2015-10-01 00:37] justaj opened #27 "Prevent deletion of previous XMLs"
Hi all.  Is there a way to automatically prevent deletion of the XMLs allure creates?  After every execution they get deleted so when I generate the report it only includes the last run. Thanks

[2015-10-01 09:57] smecsia commented on #27
Unfortunately for now this is not possible due to this unconditional directory cleanup [#L12](https://github.com/allure-framework/allure-cucumber/blob/master/lib/allure-cucumber/formatter.rb#L12).
Probably we should create a separate configuration option for this. But at first I should ask: why do you want to include different runs in the report?

[2015-10-01 16:46] justaj commented on #27
Thanks for the quick response!  Two reasons.  First I think it would be great to get a historical trend of the runs.  My plan is to run our tests every morning and it would be nice to look at the months' run and see what failed and how often.  Second I always compare the current run of any test to the previous run.  If there are new failures I always check why.

[2015-10-02 13:04] smecsia commented on #27
I believe these cases should not be solved using Allure. Allure is a tool to build a report of a single independent run. Historical trends and statistics should be stored in different place (like Tests Management System). We are developing such system in our company and it solves such problems. Btw we're thinking about open sourcing it soon. Stay in touch.

[2015-10-12 06:11] #16 closed

[2015-10-12 06:11] #22 closed

[2015-10-12 08:30] #27 closed

[2015-10-12 08:35] 9ikhan commented on #22
@vase4kin @atykhonov - Released a new version `0.5.0` which fixes this issue. Please check it and let me know if it works for you.

[2015-10-17 03:54] 9ikhan commented on #15
@alexiel15 - Can you try the `0.5.0` version.

[2015-10-20 20:46] #15 closed

[2015-10-20 21:26] 9ikhan commented on #20
Thanks!

@smecsia Will it be ok if we do this via a cucumber tag like `@issue-1` where `issue` is a pre-defined keyword and `1` is the issue number ? or is there a better way to handle this ?

[2015-10-21 09:01] smecsia commented on #20
@9ikhan I believe this would be OK. At least I don't know a better way to do it.

[2016-01-13 18:13] kirillzh opened #31 "Results are not generated for Scenarios with Examples table if running Cucumber with '-x'/'--expand' parameter"
`-x, --expand                     Expand Scenario Outline Tables in output.`

[2016-01-14 08:58] 9ikhan commented on #31
Running
[code]
Gives the following output:
[code]

I'll debug it but, it can you explain your use case? Because `Expand Scenario Outline Tables in output.` is possible in allure report.

[2016-01-14 19:26] kirillzh commented on #31
@9ikhan, the use case is pretty much what title says (I updated it). Allure results are not generated for Scenario Outlines if `-x` parameter is passed. Thanks!

[2016-01-28 15:23] ducthanh opened #32 "Showing the scenario tags in Allure cucumber report"
Hello,
I am using cucumber for doing my company user acceptance test, we use Allure Reporter and it's really a great reporter. Actually we use the cucumber tags to manage our test suite and we want to show the tags that the single scenario is belong to. I've tried to find the solution for it but there was no clues for that. It looked like Allure report didn't support to get the tags from an execut

[2016-04-06 15:54] tk8817 commented on #32
++ on this issue, any advice devs? Is this something that could be supported by Allure? If so, I would be happy to investigate and cook up a PR.

[2016-04-07 13:22] smecsia commented on #32
Summoning @baev

[2016-04-08 14:56] tk8817 commented on #32
@baev I saw your response on a similar issue in Allure Core
https://github.com/allure-framework/allure-core/issues/764

I will work on adding this into allure-cucumber, fingers crossed the saw functions are exposed in the ruby API bindings

[2016-04-19 21:01] tk8817 commented on #20
@9ikhan & @smecsia , I have a solution for this in which the user would use the configure block to set their prefix that would indicate a tag is to be seen as an issue.

[code]

[code]

In this case, the Allure Cucumber formatter will see the tag @JIRA-CC-1088, parse out the prefix - and attach an issue link of 'CC-1088'

[2016-04-19 21:25] smecsia commented on #20
@tk8817 Feel free to create a PR.

[2016-04-28 21:02] tk8817 opened #33 "Incorrect Output for Scenarios Failing in Before Step"
Hi folks. For scenarios which fail in the Before hook, example:

[code]

I noted the following.

1) Allure marks the scenario as pending
2) No exception/stacktrace is attached to the scenario in Allure

I believe if an exception is raised in a Before step, then the scenario should be marked as Failed, moreover the raised error should be shown correctly in the report.

Best,
Justin

[2016-04-29 06:35] 9ikhan commented on #33
Yeah. Just saw that we don't override `before_scenario` and `after_sceanrio` hooks. Can you fix it and send a PR?

[2016-04-29 13:24] tk8817 commented on #33
@9ikhan , working on one :)

[2016-04-29 18:17] tk8817 commented on #33
@9ikhan I am hesitant to continue as my design is starting to require a drastic change to when/how the stop_test is called. Would prefer your input before continuing.

As it stands ```after_steps``` is handling ```stop_test``` & ```test_result``` calls. Unfortunately, ```after_steps``` is called BEFORE ```after_scenario``` -- which means I cannot extract ```scenario.status``` from  ```after_scenar

[2016-05-01 02:23] tk8817 commented on #33
Found the details I need to get the exception captured, will have the PR updates on Monday.

https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/exception_in_before_hook.feature

[2016-05-08 10:05] rahulvig opened #36 "AllureCucumber::DSL.attach_file failing with "Closed Stream" error"
Hi,

I am seeing this issue for the past 2 weeks where the attach_file in my After hooks is failing with "Closed Stream" error.

[2016-05-09 08:24] 9ikhan commented on #36
Can you also specify the allure-cucumber version, ruby version and console output? It will help us debug faster.

[2016-05-09 08:42] rahulvig commented on #36
Hi Imran,
The versions are as follows-
cucumber 2.1.0
allure-cucumber 0.5.0
ruby 2.2.0

The console output is showing-

here is how my hooks.rb looks like-

[code]

[2016-05-10 10:00] rahulvig commented on #36
Hi,

I did more investigation and found out that the line-
`AllureCucumber::DSL.attach_file("#{scenario.name}.png -FAILURE Screenshot", path) if ENV['ALLURE']=='true'`

is actually referring to the attach_file method in capybara gem -
[https://github.com/jnicklas/capybara/blob/master/lib/capybara/node/actions.rb](url)

and failing. I am not sure why this is happening.

[2016-05-10 10:45] rahulvig commented on #36
Not an issue. The Capybara base methods were getting initialised from inside a step. Thanks!

[2016-05-10 10:45] #36 closed

[2016-05-19 00:07] tk8817 commented on #23
we can use RSpec + doubles to mock the objects which allure-cucumber expects. A good place to look for inspiration would be other cucumber formatters.

[2016-05-19 00:08] tk8817 commented on #20
@smecsia the PR is up, along with a few others.

[2016-06-06 10:51] ajit-jadhav commented on #22
@9ikhan No, it is still showing same error message. like `Cucumber::Ast` no longer exists. These classes have moved into the `Cucumber::Core::Ast` namespace,`

[2016-06-06 11:28] 9ikhan commented on #22
Which version of `allure-cucumber` and `cucumber` are you using? This gem has dependency >= `cucumber 2.0.0` and `Cucumber::Ast` is no longer [used](https://github.com/allure-framework/allure-cucumber/blob/master/lib/allure-cucumber/formatter.rb#L32)

[2016-06-13 19:32] Fulcrum81 commented on #20
Hi all,

I'm facing the following issue:
I need to attach a screenshot of each step regardless if it's successful or not. to the report (yeah, yeah, I know it sounds weird but that's the way it is).
I'm using the AfterStep method and the problem is that the FeatureTracker interprets it as a separate step with the name "AfterStep hook" so instead of attaching the file to the current step the extra

[2016-06-15 14:14] SButterfly opened #41 "Similar steps stick together in report"
Hi, I noticed that if I create scenarios like this

[code]

then allure generate only one step:

[code]

I'm using 0.5.1 version, but it still reproduced in 0.5.3

[2016-06-20 16:19] tk8817 commented on #41
I am so glad someone reported this, I noticed this last week but totally forgot to open a ticket. This is really bad for us because we use 'generic' steps in a lot of cases which differ only by table input / variable input and allure_cucumber does exactly what you said and only generates the one step.

@9ikhan this is a pretty serious bug in the grand scheme of things.

[2016-06-22 20:05] tk8817 commented on #32
We need functionality in allure-core to make this happen. Specfically, we need an unique indexed tag type which can take any string as input.

[2016-06-22 20:06] tk8817 commented on #20
This issue can now be closed.

[2016-06-22 20:25] 9ikhan commented on #20
@Fulcrum81 - Please open a new issue. I'll look into it. What your are facing is unrelated to this topic.

[2016-06-22 20:25] #20 closed

[2016-07-20 13:21] CoHuK opened #44 "[Feature Request] Add possibility to set several "issue" tags"
Currently, if you setting 2 tags for an issue, allure generates report only with last one.
It will be great to have the possibility to set several issues for one test.

@tk8817 Maybe you can help?

[2016-07-20 14:29] tk8817 commented on #44
@CoHuK I think this is a design in the core allure framework to only accept one entry per tag, my PR will iterate over every tag and indeed it will submit all of them to the allure API adapter.

@9ikhan can you confirm?

[2016-07-20 15:10] CoHuK commented on #44
@tk8817 https://github.com/allure-framework/allure-core/wiki/Issues It works with multiple issues.

[2016-08-06 07:41] imzzy opened #45 "get an error when using allure-cucumber."
hi, i am using allure to my cucumber-ruby feature, here is my env:
i am using the feature file: https://github.com/cucumber/cucumber-ruby/tree/master/examples/i18n/en
when not use allure. just run command 'cucumber',  it worked,

however, when i use allure and add "require 'allure-cucumber'" to env.rb file. run command 'cucumber  --format AllureCucumber::Formatter' . i got an error:

`DEPRECATION:

[2016-08-06 08:31] imzzy commented on #45
however, when i eidt the addition.feature file: delete the examples and change  Scenario Outline to  Scenario then run command 'cucumber  --format AllureCucumber::Formatter', it working.

Does it have some bugs with Scenario Outline and examples in the feature?

[2016-08-08 11:23] 9ikhan commented on #45
@imzzy  - Thanks for pointing out the issue. I have not been able to run these features locally as `Nokogiri`is not getting installed. I'm working on it.

[2016-08-12 08:46] imzzy commented on #45
thank you.

[2016-08-15 23:07] bayandin commented on #31
Just want to confirm, it doesn't work with the latest release (v0.5.6). Now it fails with en error:
[code]

[2016-08-16 17:42] 9ikhan commented on #45
Can you check if this is still an issue with `0.5.7` version.

[2016-08-16 17:44] tk8817 commented on #45
This should be fixed in the latest release @imzzy

[2016-08-19 12:18] imzzy commented on #45
@9ikhan @tk8817  yes. it has been fixed in the 0.5.7 version .thanks :)

[2016-08-19 12:18] #45 closed

[2016-08-26 12:59] KorranForce commented on #41
This issue is related to the fact that [allure-ruby-adaptor-api](https://github.com/allure-framework/allure-ruby-adaptor-api) is storing steps of the scenario as hashes with step names as keys. Because of it duplicated steps in scenario don't have their individual identifiers. And adding ids to steps will require to make changes to api of [allure-ruby-adaptor-api](https://github.com/allure-framewo

[2016-09-28 13:57] tk8817 commented on #33
This is fixed now.

[2016-09-28 13:57] #33 closed

[2016-10-25 19:46] elzenar opened #50 "Add automated tests to check 'attach file' functionality"
Hello.

I am using allure-cucumber. And I think I have found several issues in 'attach file' functionality.
I have created some automated tests to indicate found issues.
I would like to add these tests into main repository.
May I do it ? Do you need such contribution ?

[2016-10-25 20:11] tk8817 commented on #50
@elzenar tests are 100% welcome, we need them! Thank you very much!

[2016-10-31 19:52] elzenar commented on #50
@tk8817
Hello, Justin.
Please review the tests and give me a feedback.

Also I already have a vision how to fix AllureCucumber for failed scenarios. So I can share it too.

[2016-11-23 04:06] tk8817 opened #52 "Release new gem version"
summon @baev and @9ikhan - I do not have permissions to push to rubygems, but we have some great updates in master that need to be released.

[2016-11-23 04:52] smecsia commented on #52
@tk8817 if you tell me your email, I'll add you to the owners of `allure-ruby-adaptor-api` and `allure-rspec` gems.
BTW @9ikhan let's add all main allure devs (including @tk8817) to the gem owners.

[2016-11-23 05:34] tk8817 commented on #52
@smecsia jcommu@gmail.com

[2016-11-23 06:03] smecsia commented on #52
@tk8817 done.

[2016-11-23 06:32] smecsia commented on #52
@tk8817 yo've closed it too early. We should still wait until @9ikhan add us as owners to allure-cucumber (I'm not the owner of it)...

[2016-11-23 08:31] 9ikhan commented on #52
I'll do it.

[2016-11-23 08:50] 9ikhan commented on #52
@tk8817 @smecsia - Give me your email id used for rubygems.org account.

[2016-11-23 10:29] smecsia commented on #52
@9ikhan `smecsia@list.ru` is mine. And if you make me the owner, I'll add @tk8817 as an owner, since I have his email now.

[2016-11-23 11:56] 9ikhan commented on #52
Done.

On Wed, Nov 23, 2016 at 3:59 PM, Ilya <notifications@github.com> wrote:

[2016-11-23 18:25] #52 closed

[2016-11-24 10:40] CoHuK commented on #44
No news? :(

[2016-11-24 11:14] 9ikhan commented on #44
I haven't got chance to work on the project in last few months. I can review and merge if you can send a PR.

[2016-11-24 20:56] elzenar commented on #50
Hello @tk8817
Thank you for your activity to merge the tests.
As for me this issue can be closed.
If you have no objection, I will close it.
(And I will open a new issue about attaching :) )

[2016-11-24 20:58] tk8817 commented on #50
Cheers!

[2016-11-24 20:58] #50 closed

[2016-12-02 18:20] elzenar opened #53 "Add 'embed' method to add attachments in a common way in Cucumber"
In order to save the time for creating a working infrastructure for automated tests
As a QA engineer
I want to use the same API for attaching images into different reports (including Allure report).

Cucumber's formatters have 'embed' method for adding attachments.
[code]

I propose to add similar method to 'allure-cucumber'.

Just for information: I already have a working code for this issue so I

[2016-12-11 19:28] elzenar commented on #53
@tk8817
Hello, Justin!
Could you review this issue ?

[2016-12-12 07:26] 9ikhan commented on #53
I would not like to remove `attach_file` method for compatibility reasons. We can provide support for both - `embed` and `attach_file` method. Can you send a PR?

[2016-12-12 07:31] 9ikhan commented on #53
I believe, this method is specific to HTML formatter.  Still, can you send a PR with support for both `embed` and `attach_file` methods?

[2016-12-12 17:31] elzenar commented on #53
@9ikhan
Yes, I can. I will do it. :)

[2017-02-22 20:52] learnseleniumtesting opened #56 "Unable to generate xml if Scenario Outline in feature file"
We have bunch of scenario outlines across feature files.

I am using cucumber 2.0, ruby 2.3.3.

[2017-02-22 20:55] learnseleniumtesting commented on #56
Its dup of 31 so closing this. I will update other issue.

[2017-02-22 20:55] #56 closed

[2017-02-22 20:56] learnseleniumtesting commented on #31
I have bunch of feature files and Scenario outline: is everywhere. It generate only xml where feature file as on Scenario not Scenario outline;
Ruby 2.3.3/Cucumber 2

[2017-03-28 20:56] President opened #57 "Crashes with JRuby"
Allure-cucumber works well with regular Ruby, but when I try to run it from JRuby it crashes after all test scenarios are completed

[2017-03-28 21:01] President commented on #57
Here is a error I see on OS X. On Windows and on Linux it seems to be the same

[code]

[2017-04-07 09:30] LukaBrazi commented on #20
Hi to all i have same problem
 I using this construction

After do |scenario|
  @browser.save_screenshot if scenario.failed?
  include AllureCucumber::DSL
  attach_file("07Apr2017114056.png",File.open("../../src/screen/07Apr2017114056.png"))
  @browser.quit
end
but it dont work and give me erorr msg:
 Errno::ENOENT: No such file or directory @ rb_sysopen - ../../src/screen/07Apr2017114056.png What

[2017-04-07 09:33] LukaBrazi opened #58 "add screenshot to allure-cucumber report with ruby"
Hi to all i have problem with attch_file to report
I using this construction

After do |scenario|
@browser.save_screenshot if scenario.failed?
include AllureCucumber::DSL
attach_file("07Apr2017114056.png",File.open("../../src/screen/07Apr2017114056.png"))
@browser.quit
end
but it dont work and give me erorr msg:
Errno::ENOENT: No such file or directory @ rb_sysopen - ../../src/screen/07Apr20171140

[2017-04-07 15:40] #58 closed

[2017-09-25 03:33] Richard-Cao opened #59 "Continue to update?"
I see very few updates recently.

[2017-09-26 03:00] Richard-Cao opened #81 "Why not show "puts" output?"
[//]: # (
. Note: for support questions, please use Stackoverflow or Gitter**.
. This repository's issues are reserved for feature requests and bug reports.
.
. In case of any problems with Allure Jenkins plugin** please use the following repository
. to create an issue: https://github.com/jenkinsci/allure-plugin/issues
.
. Make sure you have a clear name for your issue. The name should start with

[2017-10-08 19:21] baev commented on #59
@Richard-Cao hi! Allure Cucumber was created by our community and the core team has no Ruby devs. So it would be nice if you help us to update it. At least point to high priority issues that should be fixed ASAP

[2017-10-10 11:12] webmagit commented on #32
@baev @smecsia does this mean annotations in a feature file cannot be used to show up as "Stories" and "Features" on the Allure report?

[2017-10-10 11:26] baev commented on #32
@tk8817 you can create label (name: tag, value: some-value) and it will be shown in the report like this:
![screen shot 2017-10-10 at 14 25 36](https://user-images.githubusercontent.com/2149631/31384280-f2eac676-adc6-11e7-86bc-339bf202c60e.png)

[2017-12-14 08:31] symonk opened #60 "Any plans to update this?"
Moving over to ruby from java I would really like to use my favorite reporting, however it doesn't seem to function whatsoever, cucumber being on version ~3.1 and I think this supports maybe 2.0.0? even when using 2.0.0 it is far from ideal especially when using the parallel_tests gem for execution.

I am happy to contribute on this, just wondering if anyone is working on it already etc?

[2017-12-14 13:08] tk8817 commented on #60
Hey @symonk. As a maintainer, I share your sentiments.

We could likely get this upgraded to support all the features of Cucumber 3 without much hassle. However, the real issue is that the ruby ecosystem is still on Allure 1.0.

The Yandex folks have not had time to update the allure ruby API bindings which back both the cucumber and rspec adapters.

To answer your query, I do not believe there is

[2017-12-14 13:57] baev commented on #60
We are not Yandex folks anymore.

The problem is that our team has no ruby dev at the moment. Any help are appreciated. Feel free to ask me any questions

[2017-12-14 14:09] symonk commented on #60
ok cool, i will start looking into it when I get some time, could be a while tho :( I think the competition to this is really lackluster and would be great to update everything to support modern ruby successfully

[2018-01-09 21:02] kkim-sf opened #61 "Scenario Outline Issue Prefix"
Bug: When you tag/prefix a set of 'Examples' as a known issue in a Scenario Outline, only the first example gets properly marked as a known issue.

[2018-01-10 15:09] Leandro-b-03 opened #62 "It more like an advice than issue, formatter.rb for cucumber ~> 3"
Hey guys, has I have see to improve Allure-Cucumber, and not started yet, I just change formatter.rb to accept cucumber 3 when it broke, only that I will not make a PR, but will post here has to kick start to the allure2-cucumber or whatever.

[formatter.txt](https://github.com/allure-framework/allure-cucumber/files/1619328/formatter.txt)

[2018-01-11 16:40] #62 closed

[2018-02-09 16:51] vhsantos26 opened #63 "AllureCucumber::Formatter is using deprecated formatter API"
#### I'm submitting a BUG
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

#### What is the current behavior?

When I try to execute my features with AllureCucumber::Formater, cucumber generate a error about deprecated formatter API.

#### If the current behavior is a bug, please provide the step

[2018-02-17 18:15] #53 closed

[2018-02-28 09:00] ndeztea commented on #63
any update regarding this issue? I have simliar issue like this

``
undefined method `name' for #<Cucumber::Core::Test::Step:0x007ffed1aaffa0> (NoMethodError)
/Users/happyfresh/.rvm/gems/ruby-2.4.1@happy-fresh-acceptance/gems/allure-cucumber-0.6.0/lib/allure-cucumber/formatter.rb:121:in `after_test_step'
/
``

[2018-03-06 16:43] mikesalvia commented on #59
@baev I am a Ruby developer and actively using Allure Cucumber. I will see if I can contribute!

[2018-03-06 16:45] baev commented on #59
@mikesalvia 👍

[2018-03-06 18:19] mikesalvia commented on #59
@baev I actually started work today on something that has been plaguing our team! When having duplicate steps in a scenario, the steps are keyed by "step_name" which caused them to not be ordered correctly. I will add you to my PR as a reviewer... There is only in `allure-cucumber` and one in `allure-ruby-commons`.

[2018-03-06 18:39] mikesalvia commented on #41
@KorranForce This may be fixed in https://github.com/allure-framework/allure-cucumber/pull/65

[2018-03-06 18:40] mikesalvia commented on #41
@9ikhan and @tk8817 Please let me know if it fixes things for you. I can provide monkey patches if needed to test locally till this is merged in.

[2018-03-07 11:31] baev commented on #59
@mikesalvia thanks for all the work, I wish you will continue to update the project.

IMHO the first priority is to update to new formatter API https://github.com/allure-framework/allure-cucumber/issues/63 and adding specs for it.

[2018-03-07 11:31] #59 closed

[2018-03-07 11:33] baev commented on #59
@mikesalvia BTW you can [DM me in gitter](https://gitter.im/baev) to ask any related questions

[2018-03-07 11:33] #60 closed

[2018-03-16 11:01] MadnessPray commented on #63
I have the same problem. Execute command: same command.
I can't generate allure report.

ruby - 2.5.0
cucumber - 3.1.0
allure-cucumber - 0.6.0

Why is this issue closed? Is trouble solved or in cucumber 4.0 formatter will be replaced?
How I can generate allure-report for now?

[2018-03-27 16:25] mikesalvia commented on #41
@baev this can be closed.

[2018-04-12 02:03] sk-jlewis commented on #63
Haven't thoroughly verified, but I put this monkey patch in my support/env.rb file if it helps anyone:

[code]

[2018-04-12 11:54] vhsantos26 commented on #63
Hi @sk-jlewis ,

It's true, works for me too, but, did you have this problema on report?

![image](https://user-images.githubusercontent.com/7251081/38675710-01785cbe-3e2f-11e8-977b-31c3e721b7db.png)

In my case, the keywords Given, When and Then didn't appears on report.

[2018-04-12 13:29] sk-jlewis commented on #63
Yes I also have that issue, I'll let you know if I produce anything today

[2018-04-19 17:36] sk-jlewis commented on #63
[code]

This seems to work for me

<img width="119" alt="screen shot 2018-04-19 at 1 35 49 pm" src="https://user-images.githubusercontent.com/25017108/39008419-9cd47826-43d6-11e8-905d-1c34437f9fec.png">

[2018-04-23 11:13] vhsantos26 commented on #63
@sk-jlewis tks man, work for me too!

[2018-06-18 15:29] violettka opened #80 "No report generated for retries after parallel test run"
[//]: # (
. Note: for support questions, please use Stackoverflow or Gitter**.
. This repository's issues are reserved for feature requests and bug reports.
.
. In case of any problems with Allure Jenkins plugin** please use the following repository
. to create an issue: https://github.com/jenkinsci/allure-plugin/issues
.
. Make sure you have a clear name for your issue. The name should start with

[2018-07-09 05:09] subairka opened #66 "cannot load such file allure_cucumber/formatter error"
When i tried to use AllureCucumber formatter after using require 'allure-cucumber' in env.rb file I am getting error . I have installed the gem using  gem install allure-cucumber command.

cucumber -t @test_tag   --format AllureCucumber::Formatter --out ./html_reports

cannot load such file -- allure_cucumber/formatter
Error creating formatter: AllureCucumber::Formatter (LoadError)
/usr/local/rvm/

[2018-07-11 13:34] prashanth-sams opened #67 "Failed screenshots are not attached to the generated HTML report"
The **.json** file under `allure-report > data > test-cases` is not updating the failure screenshot attachments that was actually populated during tests.

run the below cmd to obtain data as in the below screenshot:
[code]

![Result](https://i.imgur.com/93t7g8V.png)

![Result](https://i.imgur.com/nXzu2oQ.png)

**Version used:**
selenium webdriver: 3.13.0
cucumber: 3.1.0
allure-cucumber: 0.6.1

[2018-07-11 14:20] michalkaftanski-airhelp opened #68 "Doc Strings are not handled"
Consider this as a bug: when scenario has some _Doc Strings_ within there is:
[code]

Environment:
Ruby 2.4.4
latest gems: (cucumber (3.1.1), cucumber-core (3.1.0), allure-cucumber (0.6.1), allure-ruby-adaptor-api (0.7.1)

[2018-07-18 19:47] jeancrb19 opened #69 "Not Attachs screenshots in reports"
Hi i have this error
`undefined method `step_name' for nil:NilClass (NoMethodError)
/home/mtzcpd1222/.rvm/gems/ruby-2.4.4/gems/allure-cucumber-0.6.1/lib/allure-cucumber/dsl.rb:7:in `attach_file'
/home/mtzcpd1222/Workspace/Fleury/features/support/env.rb:18:in `block in <top (required)>'
/home/mtzcpd1222/.rvm/gems/ruby-2.4.4/gems/allure-cucumber-0.6.1/lib/allure-cucumber.rb:45:in `configure'
/home/m

[2018-07-24 13:33] andrejska commented on #68
Same issue is with data tables, have tried all cucumber versions starting from 3.0.0, non of them works

I would consider this as top priority bug

[2018-07-25 08:20] andrejska commented on #68
@michalkaftanski-airhelp
Fixed my issue, should fix yours as well, please try:
[code]

[2018-07-25 08:20] andrejska commented on #67
looks very similar to https://github.com/allure-framework/allure-cucumber/issues/68
@prashanth-sams please try my fix:
[code]

[2018-07-25 08:21] andrejska commented on #69
looks very similar to #68
@jeancrb19 please try my fix:
[code]

[2018-07-25 14:19] prashanth-sams commented on #67
hey @andrejska, so, the fix is merged from your fork to https://github.com/allure-framework/allure-cucumber ?

[2018-07-26 06:18] andrejska commented on #67
@prashanth-sams not yet, but if you want you can try my fix in your project by using provided snippet in your gemfile

[2018-07-26 07:13] prashanth-sams commented on #67
@andrejska ah okay; thanks 💯

[2018-07-26 07:17] prashanth-sams commented on #67
@baev can you please merge https://github.com/allure-framework/allure-cucumber/pull/70 in master; it would be helpful for most of the allure users

[2018-07-27 08:19] #67 closed

[2018-07-27 08:19] #68 closed

[2018-07-27 08:19] #69 closed

[2018-07-31 15:00] maysamms opened #71 "Suport for attachments"
Hi guys. I need a support for attach_file ... If anyone can help me, please

I'm using:
cucumber 3.1.2
capybara 3.2.1
rspec 3.7
allure-cucumber 0.6.1

I've tried using attach_file in several ways, but it does not attach the .png image attachment to the report

Can someone show me an example of how to use it so I can see if I'm using it correctly, please?

[2018-08-17 13:51] Leandro-b-03 commented on #71
Hey, @maysamms, try to use `embed` instead

[code]

[2018-09-13 03:27] futbolpal commented on #57
@President any luck getting past this?

[2018-09-14 12:56] maysamms commented on #71
It worked!
Thank you :)

[2018-09-14 12:56] #71 closed

[2018-09-30 02:55] sk-jlewis commented on #57
@President I've gotten this to work by patching my local adapter:

https://github.com/allure-framework/allure-ruby-commons/blob/master/lib/allure-ruby-adaptor-api/builder.rb#L126

Needs to become:
[code]

This is similar to the issue described here:
https://bzzt.io/posts/how-to-fix-namespace_err-with-nokogirixmlbuilder-in-jruby

[2018-10-10 15:22] cperezprieto commented on #31
Any update on this? I'm facing the same issue

[2018-11-05 16:04] rohitpatwari84 opened #75 "Unable to see json files in allure-results folder for Selenium - Cucumber Project"
I am using cucumber with allure . Below is my pom  . After  "mvn test" , I cant see json files in the allure-results folder.Due to that my allure report looks empty  (It shows NaN)

![image](https://user-images.githubusercontent.com/41872833/48009827-7dd4f680-e142-11e8-9964-a1c2c5c38f20.png)

[code]

[2018-11-06 15:34] baev commented on #75
Please use StackOverflow (tag `allure`) or our Gitter chat (https://gitter.im/allure-framework/allure-core) for such type of questions.

[2018-11-06 15:34] #75 closed

[2018-12-06 08:23] serhatbolsu opened #76 "File name too long @ rb_sysopen"
I am using `allure-cucumber (0.6.1)`

Getting this error
[code]

Spotted from the code:
`src` is passed as filename argument
[https://github.com/allure-framework/allure-cucumber/blob/master/lib/allure-cucumber/formatter.rb#L162](url)

[2019-01-08 05:18] serhatbolsu commented on #76
Figured this is happening while the file is empty or not created.

[2019-01-08 05:18] #76 closed

[2019-01-08 05:19] serhatbolsu opened #77 "Add tags and file location"
I would like to see in report
- tags
- file location such as : `feature/mymodule.feature:5`

Tags should be shown as `labels` since this is the support from allure.
Should be able to handle multiple tags

[2019-01-11 08:46] sureshpathipati opened #79 "Empty reports are getting generated at the end of the suite"
I have triggered a build with one feature(Around 10 scenarios). At the end of the build before triggering report it failing with the following issue.

stack trace:
-------------
undefined method `[]' for nil:NilClass (NoMethodError)
/var/jenkins_home/.rvm/gems/ruby-2.1.4/gems/allure-ruby-adaptor-api-0.6.10/lib/allure-ruby-adaptor-api/builder.rb:45:in `stop_test'
/var/jenkins_home/.rvm/gems/ruby-2.

[2019-01-11 09:31] sureshpathipati commented on #79
My bad. I have scenario without any steps
Hence failing.

Thanks

[2019-01-11 09:31] #79 closed

[2019-01-22 13:40] nareshnavinash opened #82 "Reports are not getting created when running the tests with cucumber - capybara - selenium"
I am trying to run the cucumber test cases along with capybara and selenium webdriver. while running i am getting the following error even if all the test cases are passed, as a result,
# cucumber jenkins job is getting failed.
# when i try to open the allure report, allure report is blank.

Can any one help me out from this.

log trace :

3 scenarios (0 failed, 3 passed)
12 steps (0 failed, 12 pa

[2019-01-25 08:45] nareshnavinash commented on #82
This happens only when i add,

include Capybara::DSL

in the env.rb file in cucumber tests.

[2019-01-28 13:24] SymphonicJohn commented on #63
The monkey patch works well enough for the missing name method, but the error:
'WARNING: The formatter AllureCucumber::Formatter is using the deprecated formatter API which will be removed in v4.0 of Cucumber.'
reamins.
Are there any plans to move away from the depreciated api calls?

[2019-02-07 13:12] nareshnavinash opened #83 "categories.json file is not picked up when we are generating a allure report for the tests which are rerun for the failed test cases"
Scenario 1:

1. Run a cucumber test, have categories.json file in the allure report folder.
2. Now generate the allure report.

Output:
In the generated allure results, categories will be defined according to the categories.json

Scenario 2:

1. Run a cucumber test, have categories.json file in the allure report folder.
2. Rerun the cucumber test for the failed scenarios alone.
3. Now generate the

[2019-04-02 06:05] Dookiee opened #84 "Reports shows attachment which is irrelevant to the test cases"
I have logged the information during the execution and file names are displayed properly. But reports attachment displays wrong information.  screenshots:
![Screenshot 2019-04-02 at 11 30 39 AM](https://user-images.githubusercontent.com/8068468/55379628-504a7880-553b-11e9-9eca-1fe9f4aad428.png)
![Screenshot 2019-04-02 at 11 32 10 AM](https://user-images.githubusercontent.com/8068468/55379634-53456

[2019-04-02 10:11] Dookiee commented on #84
The issue is identified. It is because of SHA256 generation. You are reading the content of the file and convert that as hash and stored in the file system. My test cases, having the same content on each file and it produces the same hashes. which causes faulty attachments to test cases.

[2019-06-19 23:04] eandersonEverfi commented on #76
@serhatbolsu I am having this exact same issue as you describe when I have a cucumber feature test fail. (When I do not have any failures I am able to create an allure report without issue). How did you resolve the error?
I see that you figured out that the file is empty or not created was the source of the issue. Can you provide details on what you added to your code to resolve/account for this e

[2019-06-20 05:27] serhatbolsu commented on #76
Hi @eandersonEverfi  I dont really remember.
Maybe its something to do with report file path ? you can try to create the "dir" before
Also I am using a custom library now;
[code]

[2019-06-20 20:14] eandersonEverfi commented on #76
Hey @serhatbolsu
Thank you for your assistance.
I like your work on the custom lib and the additional methods for the allure-cucumber api.

[2019-09-04 11:20] FirstAM opened #86 "Only one report getting generated with parallel execution"
Hi !
I am using appium and cucumber for parallel execution on multiple devices for one test case.  When I run multiple devices parallel, in folder with reports i see two different files for each devices . Unfortunately, when i generate reports i see only one case in list cases. How i can fix this , so that case see like a one test case for each devices ?

[2019-10-06 18:25] pablo-gonzalez opened #87 "uninitialized constant AllureCucumber::DSL (NameError)"
I have installed the gem following the guide and when I try to run my project it says:

`pablo@pablo-Latitude-5480:~/projects/test$ cucumber -t @login
uninitialized constant AllureCucumber::DSL (NameError)
/home/pablo/projects/test/features/support/env.rb:13:in `<top (required)>'
/var/lib/gems/2.5.0/gems/cucumber-3.1.2/lib/cucumber/glue/registry_and_more.rb:107:in `load'
/var/lib/gems/2.5.0/gems/c

[2019-10-15 21:14] andrcuns commented on #31
This is solved in new adaptor implementation v2.13.0

[2019-10-15 21:17] andrcuns commented on #23
Implemented in https://github.com/allure-framework/allure-ruby/tree/master/allure-cucumber

[2019-10-15 21:18] andrcuns commented on #32
This is implemented in new adaptor implementation v2.13.0

[2019-10-15 21:19] andrcuns commented on #44
This is implemented in new adaptor implementation v2.13.0

[2019-10-15 21:20] andrcuns commented on #57
Most probably solved in new adaptor implementation v2.13.0

[2019-10-15 21:20] andrcuns commented on #61
Should be solved in new adaptor implementation v2.13.0

[2019-10-15 21:21] andrcuns commented on #63
This is solved in new adaptor implementation v2.13.0

[2019-10-15 21:22] andrcuns commented on #77
This is solved in new adaptor implementation v2.13.0

[2019-10-15 21:23] andrcuns commented on #80
Should be solved in new adaptor implementation v2.13.0

[2019-10-15 21:23] andrcuns commented on #81
String attachments can be added in v2.13.0

[2019-10-15 21:25] andrcuns commented on #82
Doesn't seem to be related to allure at all

[2019-10-15 21:26] andrcuns commented on #83
Should be fixed in new adaptor implementation v2.13.0

[2019-10-15 21:29] andrcuns commented on #84
Should be fixed in v2.13.0 as new commons api generate UUIDs without regards to file content.

[2019-10-15 21:31] andrcuns commented on #86
This is not an issue with cucumber ruby reporter but allure in general. I think You need to either add different arguments or somehow make custom names for tests.

[2019-10-15 21:32] andrcuns commented on #87
V 2.13.0 is a completely new implementation and is located here: https://github.com/allure-framework/allure-ruby/tree/master/allure-cucumber

[2019-10-16 06:33] nareshnavinash commented on #82
@andrcuns we can close this issue if not related to allure, I moved out of capybara and allure works like a charm.

[2019-10-16 11:21] #23 closed

[2019-10-16 11:22] #31 closed

[2019-10-16 11:30] #32 closed

[2019-10-16 11:30] #41 closed

[2019-10-16 11:31] #44 closed

[2019-10-16 11:31] #57 closed

[2019-10-16 11:31] #61 closed

[2019-10-16 11:31] #63 closed

[2019-10-16 11:32] #66 closed

[2019-10-16 11:32] #77 closed

[2019-10-16 11:32] #80 closed

[2019-10-16 11:32] #81 closed

[2019-10-16 11:33] #83 closed

[2019-10-16 11:33] #87 closed

[2019-10-16 11:34] #84 closed

[2019-10-16 11:34] #86 closed

[2019-10-16 11:34] #82 closed